.secret.txt
node_modules/*

practice/*

!practice/5*
practice/5*/node*
practice/5*/index_base.html
practice/5*/pending.txt
practice/5*/index.js
practice/5*/package*

!practice/6*
practice/6*/build/*
!practice/7*
!practice/8*
practice/8*/build/*
!practice/9*
practice/9*/app/node*
practice/9*/build/*
!practice/10*
practice/10*/app/node*
practice/10*/build/*




